# SI 618 Fall 2022 Homework 3 (100 points)

## Part 1 (80 points)

The provided ‘movie_actors_data.txt’ file contains a JSON string on each line. For example, the first line is: 

>{"rating": 9.3, "genres": ["Crime", "Drama"], "rated": "R", "filming_locations": "Ashland, Ohio, USA", "language": ["English"], "title": "The Shawshank Redemption", "runtime": ["142 min"], "poster": "http://img3.douban.com/lpic/s1311361.jpg", "imdb_url": "http://www.imdb.com/title/tt0111161/", "writers": ["Stephen King", "Frank Darabont"], "imdb_id": "tt0111161", "directors": ["Frank Darabont"], "rating_count": 894012, "actors": ["Tim Robbins", "Morgan Freeman", "Bob Gunton", "William Sadler", "Clancy Brown", "Gil Bellows", "Mark Rolston", "James Whitmore", "Jeffrey DeMunn", "Larry Brandenburg", "Neil Giuntoli", "Brian Libby", "David Proval", "Joseph Ragno", "Jude Ciccolella"], "plot_simple": "Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.", "year": 1994, "country": ["USA"], "type": "M", "release_date": 19941014, "also_known_as": ["Die Verurteilten"]}

The fields we are interested in are imdb_id, title , rating, genres, actors, directors, year, and country. You will parse the JSON strings, and load the data into three tables in SQLite, and then write SQL queries to retrieve the data specified. 

You will create 4 tables: 
* The “movies” table, which has four columns: imdb_id, title, year, rating, country  

* The “movie_genre” table, which has two columns: imdb_id and genre. A movie typically has multiple genres, and in this case, there should be one row for each genre. If some movie does not have any genre, ignore that movie.  

* The “movie_actor” table, which has two columns imdb_id and actor. A movie typically has multiple actors, and in this case, there should be one row for each actor. 

* The “movie_director” table, which has two columns imdb_id and director. A movie typically has multiple directors, and in this case, there should be one row for each director. 

**When you run your Python code, it should print out EXACTLY the output provided.**

#### Q1. (10 points) Parse input file to get needed data for the three tables and load them into appropriate Python data structure.

#### Q2. (5 points) Create the movies table and load data into it. Note that you only need to consider the first country if there are multiple countries associated with a movie. Read and show the first 5 rows of the movies table in your SQLite database.

#### Q3. (5 points) Create the movie_genre table and load data into it.

#### Q4. (5 points) Create the movie_actor table and load data into it.

#### Q5. (5 points) Create the movie_director table and load data into it.

#### Q6. (10 points) Write a SQL query to find the number of released movies by decade in chronological order. (Note: you will need to round *down* years to get the corresponding decade. e.g. 2009 belongs to the 2000s)
```
Number of movies broken down by decade: Decade, Number
1920, 5
1930, 8
1940, 16
1950, 30
1960, 23
1970, 24
1980, 26
1990, 38
2000, 57
2010, 21

```

#### Q7. (10 points) Write a SQL query to find the top 5 genres in the US by the average ratings of movies in that genre. Print out the results.
```
Top 5 genres in the US: Genre, AvgRatings
Action, 8.461290322580647
War, 8.413333333333332
Crime, 8.408695652173916
Music, 8.4
Sci-Fi, 8.385000000000002
```

#### Q8. (10 points) Write a SQL query to find the top 10 actors who have worked with the director Christopher Nolan in the most movies. The actors are ordered in decreasing number of movies they worked with the director. In case of ties, the rows are ordered by actors’ names in alphabetical order.

```
The actors who have worked with Christopher Nolan the most: Name, Times
Michael Caine, 5
Christian Bale, 4
Cillian Murphy, 3
Gary Oldman, 3
Morgan Freeman, 3
Joseph Gordon-Levitt, 2
Ken Watanabe, 2
Larry Holden, 2
Marion Cotillard, 2
Mark Boone Junior, 2
```

#### Q9. (10 points) Write a SQL query to find the top 10 directors based on average ratings of the movies they directed between the years year 1980 and 2010 (begin and end years are included). Only consider those who directed at least 2 movies in this time range. For each director, show their name, average rating of the movies, and the number of movies they directed. Sort the result by descending average movie rating, then by director name in alphabetical order.

```
Between 1980 and 2010, top 10 highest rated directors based on average movie rating with at least 2 credits:
Director, Movies
Frank Darabont, 8.9, 2
David Fincher, 8.8, 2
Peter Jackson, 8.8, 3
Christopher Nolan, 8.64, 5
Robert Zemeckis, 8.6, 2
Steven Spielberg, 8.5, 5
Quentin Tarantino, 8.475, 4
Stanley Kubrick, 8.45, 2
James Cameron, 8.4, 3
Ridley Scott, 8.4, 2
```

#### Q10. (10 points) Write a SQL query for finding pairs of actors who co-starred in at least 2 highly rated (rating > 9) movies together. 

The pairs of names must be unique. This means that ‘actor A, actor B’ and ‘actor B, actor A’ are the same pair, so only one of them should appear. For each pair of actors you print out, the two actors must be ordered alphabetically. The pairs are ordered in decreasing number of movies they co-stared in. In case of ties, the rows are ordered by actors’ names. 

>You will need to join the movie_actor table with itself to get this data (in addition to another required join). It is a bit tricky. If you cannot do it with SQL statement, you can also write some Python code that works on the Python data structure that you used to create the movie_actor table. That’ll mean much more lines of code, and if you do it that way, you’ll get 5 points instead of 10 points. You will only get 10 points if you solve it with pure SQL.

```
Pairs of actors who co-stared in 2 or more highly rated movies: Actor A, Actor B, Co-stared Movies
Al Pacino, Diane Keaton, 2
Al Pacino, John Cazale, 2
Al Pacino, Robert Duvall, 2
Al Pacino, Talia Shire, 2
Diane Keaton, John Cazale, 2
Diane Keaton, Robert Duvall, 2
Diane Keaton, Talia Shire, 2
John Cazale, Robert Duvall, 2
John Cazale, Talia Shire, 2
Robert Duvall, Talia Shire, 2
```

## Part 2 (20 points)

Write a python function that takes two arguments: genre and k 

The function should print out the top k directors who made the highest rated movies (on average) in the provided genre. You should use the sqlite3 database file you created in Part 1. Some example runs of my function are shown below. Your program should produce the same output when provided with the same command line arguments.

`get_top_genre_directors("Sci-Fi", 3)`
```
Top 3 directors who made highest rated Sci-Fi movies:
Director, Average Sci-Fi movie rating
Christopher Nolan, 8.8
George Lucas, 8.8
Irvin Kershner, 8.8
```

`get_top_genre_directors("War", 5)`
```
Top 5 directors who made highest rated War movies:
Director, Average War movie rating
Steven Spielberg, 8.75
Michael Curtiz, 8.7
Francis Ford Coppola, 8.6
Charles Chaplin, 8.5
Roberto Benigni, 8.5
```

`get_top_genre_directors("Animation", 10)`
```
Top 10 directors who made highest rated Animation movies:
Director, Average Animation movie rating
Isao Takahata, 8.4
Rob Minkoff, 8.4
Roger Allers, 8.4
Andrew Stanton, 8.3
Bob Peterson, 8.3
John Lasseter, 8.3
Lee Unkrich, 8.3
Adam Elliot, 8.2
Chris Sanders, 8.2
Dean DeBlois, 8.2
```

In [ ]:
get_top_genre_directors("Sci-Fi", 3)

In [ ]:
get_top_genre_directors("War", 5)

In [ ]:
get_top_genre_directors("Animation", 10)

## What to submit: 
Please perform the following operations and turn in the corresponding files to canvas:
1. Jupyter notebook titled uniqname_si618_hw3.ipynb and the corresponding html page (uniqname_si618_hw3.html) 
through Canvas.
2. The sqlite database file you created. (uniqname_si618_hw3.db)